@{
    ViewData["Title"] = "Home Page";
}

<header>User Registration</header>
    <img src="~/images/home_page_coffee_image_1.jpg" class="rounded mx-auto d-block "/>
<div class="text-center">
    <a asp-controller="Home" asp-action="RegistrationView">Click Here to Register</a>
</div>