
@{
    ViewData["Title"] = "PasswordErrorView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Passwords did not match. </h2>


<a asp-controller="Home" asp-action="RegistrationView">Click Here to Return to registration form.</a>


