@model Users
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registration Page</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Home" asp-action="MakeNewUser" method="post" onsubmit="return Validation()">
            <div class="form-group">

                <label asp-for="Username"></label>
                <input asp-for="Username" type="text" class="form-control" required name="Username" id="Username" />
                <span asp-validation-for="Username"></span>
            </div>
            <div class="form-group">
                <label> Email</label>
                <input type="email" class="form-control" required name="email" />
            </div>
            <div class="form-group">
                <label asp-for="Password"> Password</label>
                <p class="password-info">Password must be at least 6 characters.</p>
                <input asp-for="Password" type="password" name="Password" id="Password" minlength="6" class="form-control" required pattern=".{6,}" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"> Confirm Password</label>
                <input asp-for="ConfirmPassword" type="password" name="ConfirmPassword" id="ConfirmPassword" required class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="alert-danger"></span>
            </div>
            <div class="form-group">
                <label> Phone</label>
                <input placeholder="800-123-4567" type="tel" maxlength="11" required name="phone" pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2, 4}$" class="form-control" />
            </div>
            <div class="form-group">
                <select name="phone-type" size="1" required>
                    <option value="" disabled selected> Phone Type</option>
                    <option value="home">Home</option>
                    <option value="cell">Cell</option>
                    <option value="work">Work</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <label>Register me and deposit $5 into my account, FREE. </label>
                <input type="checkbox" required />
            </div>
            <div class="form-group">
                <input type="submit" class="form-control registration-submit-button" />
            </div>
        </form>
    </div>
</div>
<script>
    function Validation() {
        //querySelector requires us to pass in if its an #ID or .class, and the value
        var password = document.querySelector("#Password").value;
        var confirmPassword = document.querySelector("#ConfirmPassword").value;

        if (password === confirmPassword) {
            return true;
        } else {
            console.log("FALSE");
            alert("Passswords do not match. Please try again.")
            return false;
        }

    }
