
@{
    ViewData["Title"] = "TransactionSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ShopDbContext
<h2>Your transaction was a success!</h2>

<h3>Order Details:</h3>

<h1>Original Balance: originalBalance</h1>

<h1>Item Price: itemPrice</h1>

<h1>New Balance: newBalance</h1>
