
@{
    ViewData["Title"] = "TransactionError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ShopDbContext
<h2>TransactionError</h2>

<h3>ERROR: You do not have enough funds for this transaction.</h3>

//display <h1> Funds: Model.User.Funds</h1> 

//display <h1>Item Price: Model.Items.Price</h1> 

